extends layout

block content
  h1= title
  p Welcome to #{title}
  div
  h1 Links to other pages
  ul
    li
      a(href='/users') Users page
  p.
    Starting to join pages together to allow easy navigation
    Each page now instrumeted using a standardized Segment module
