extends layout

block content
  h1= title
  h2 Welcome to #{title}
  p This app is written in node.js using express. It is instrumented with segment to track all pages and also has direct Heap tagging.
  div
  h1 Links to other pages
  ul
    li
      a(href='/users') Users page
    li
      a(href='/logon') Logon page
