extends fancy-layout

block content
  
  // /. ROW
  .row
    .col-md-12
      // Kitchen Sink
      .panel.panel-default
        .panel-heading
          | Kitchen Sink
        .panel-body
          .table-responsive
            table.table.table-striped.table-bordered.table-hover
              thead
                tr
                  th #
                  th First Name
                  th Last Name
                  th Username
              tbody
                tr
                  td 1
                  td Mark
                  td Otto
                  td @mdo
                tr
                  td 2
                  td Jacob
                  td Thornton
                  td @fat
                tr
                  td 3
                  td Larry
                  td the Bird
                  td @twitter
      // End  Kitchen Sink
  
