extends fancy-layout

block content
  h2 Welcome to #{title}
  p This page fires Segment.track
  div
    form(action="/")
      select(name="cars")
        option(value="volvo") Volvo
        option(value="fiat") Fiat
        option(value="audi") Audi
      br
      input(type="submit")
  div
    form(action="/")
      select(name="trucks")
        option(value="mack") Mack
        option(value="peterbilt") Peterbilt
      br
      input(type="submit")


