extends fancy-layout

block content
  
  
  div.col-md-5
    div.panel.panel-default
      div.panel-heading Vehicle selection 1
      div.panel-body
        h4 Types of cars
        div(style="margin-top: 10px;")
          div.btn-group
            button.btn.btn-primary.dropdown-toggle(data-toggle="dropdown") Car 
              span.caret
            ul.dropdown-menu
              li
                a(href="#") Volvo
              li
                a(href="#") Fiat
              li.divider
              li
                a(href="#") Audi

  div.col-md-5
    div.panel.panel-default
      div.panel-heading Vehicle selection 2
      div.panel-body
        h4 Types of trucks
        div(style="margin-top: 10px;")
          div.btn-group
            button.btn.btn-danger.dropdown-toggle(data-toggle="dropdown") Truck 
              span.caret
            ul.dropdown-menu
              li
                a(href="#") Mack
              li
                a(href="#") Peterbilt
              li.divider
              li
                a(href="/") Tonka
